<nav>
    <ul class="pager">
        {{#if prev}}
            <li class="previous"><a href="{{page_url prev}}"><i class="fa fa-arrow-left"></i> 上一页</a></li>
        {{/if}}
        {{#if next}}
            <li class="next"><a href="{{page_url next}}">下一页 <i class="fa fa-arrow-right"></i></a></li>
        {{/if}}
    </ul>
</nav>